<div class="wh-full contenedor animate__animated animate__bounceIn">
  <div class="caja">
    <div class="form-container ">
      <h1>Registro</h1>
      <form [formGroup]="signUpForm" >
        <mat-form-field>
          <mat-label>DNI</mat-label>
          <input matInput formControlName="dni" type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="firstName" type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Segundo nombre</mat-label>
          <input matInput formControlName="secondName" type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Primer Apellido </mat-label>
          <input matInput formControlName="firstSurname" type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Segundo Apellido</mat-label>
          <input matInput formControlName="secondSurname" type="text">
        </mat-form-field>

<!--        cambiar al especifico de email-->
        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input matInput formControlName="companyEmail" type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'"formControlName="password">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
<!-- cambiar a formato celular-->
        <mat-form-field>
          <mat-label>Celular</mat-label>
          <input matInput formControlName="phone" type="number">
        </mat-form-field>


        <button mat-raised-button color="terciario" style="background-color: blue;" (click)="signUp()">Sign Up</button>
      </form>
      <span style="margin-top: 25px;">Already have account? &nbsp;<a [routerLink]="['/login']">LogIn</a></span>
    </div>
  </div>
</div>
