.agm-map{
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.route-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Add this if you want to make sure the colored circle is visible even when route has no color */
.route-circle.default-color {
  background-color: gray;
}


.routes-card {
  z-index: 10;
  position: absolute;
  margin: 5px;
  top: 3px;
  right: 25px;
  width: 35%;
  height: 45%;
  background-color: forestgreen;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.route-item{
  background-color: #ffffffe8;
  width: 100%;
  margin-top: 5px;
  border-radius: 3px;
  font-size: small;
  padding: 10px;
  display: flex;
}

.route-list {
  display: flex;
  flex-direction: column;
}

.route-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.custom-progress-bar ::ng-deep .mat-progress-bar-background {
  background-color: #ffffff; /* Replace with your desired color */
}

.green-circle-icon {
  position: absolute;
  top: 10px;
  left: 40px;
  margin-top: 5px;
  background-color: green;
  border-radius: 50%;
  padding: 20px; /* Adjust as needed to make it larger */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Optional: add a cursor pointer for better UX */
}
/*.small_mat_button {*/
/*    button {*/
/*        width: 54px;*/
/*        height: 36px;*/
/*        min-width: unset!important;*/
/*        mat-icon {*/
/*          font-size: 24px;*/
/*        }*/
/*    }*/
/*}*/





