<header>
  <nav class="navbar bg-light">
    <div>
      <img src="assets/img/Logo.jpg" alt="Logo Carpooling" class="logo">
    </div>

    <div class="">
      <a (click)="onLogout()" class="btn button-success" style="color: white;">LogOut</a>
    </div>
  </nav>
</header>

<div style="display: flex; height: 100%; width: 100%; margin-top: 8px;">
  <!-- Contenedor del mapa con flex de 70% y centrado -->
  <div style="flex: 65%; display: flex; align-items: end; justify-content: end; height: 100%;">
    <div style="width: 100%; max-width: 100%; height: 100%; max-height: 50%; position: relative;">
      <app-map *ngIf="loadingMap" [markers]="markers" #mapita class="agm-map"></app-map>
    </div>
  </div>

  <!-- Contenedor del acordeón con flex de 30%, contenido centrado -->
  <div style="flex: 35%; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; padding: 20px;">
    <!-- Título agregado encima del acordeón -->
    <div style="text-align: center; width: 100%; margin-bottom: 10px;">
      <span class="routes-card-title"><strong style="color: white; font-size: x-large;">Rutas</strong></span>
    </div>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Crear ruta
          </mat-panel-title>
          <mat-panel-description>
            Instrucciones
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        1.Define tu punto de partida y destino: Utiliza la barra de búsqueda para seleccionar dónde comenzará y terminará tu viaje. Puedes utilizar direcciones exactas o puntos de interés.
        <br>
        <br>
        2.Elige la fecha y la hora de salida: Selecciona cuándo te gustaría partir.
        <br>
        <br>
        3.Número de asientos disponibles: Indica cuántos asientos ofreces.
        <br>
        <br>
        4.Confirma y publica tu ruta: Revisa toda la información, y si todo está correcto, ¡publica tu ruta! Los usuarios interesados podrán verla y solicitar unirse a tu viaje.
        <br>
        <br>
        <mat-checkbox [(ngModel)]="termsAccepted">Acepto términos y condiciones</mat-checkbox>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()" [disabled]="!termsAccepted">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Partida
          </mat-panel-title>
          <mat-panel-description>
            Seleccion un punto de energia
            <mat-icon>map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>Country</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Destino
          </mat-panel-title>
          <mat-panel-description>
            Seleccione el destino
            <mat-icon>map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>Country</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Fecha y Hora
          </mat-panel-title>
          <mat-panel-description>
            Seleccione la fecha y hora
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Agregar campos de fecha y hora -->
        <mat-form-field>
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Hora</mat-label>
          <input matInput type="time" [(ngModel)]="selectedTime" step="60">
        </mat-form-field>


        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Finalizar</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Capacidad
          </mat-panel-title>
          <mat-panel-description>
            Seleccione los cupos disponibles
            <mat-icon>event_seat</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Agregar campo de capacidad -->
        <mat-form-field>
          <mat-label>Cupos disponibles</mat-label>
          <mat-select [(ngModel)]="selectedCapacity">
            <mat-option *ngFor="let capacity of capacities" [value]="capacity">{{ capacity }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Finalizar</button>
        </mat-action-row>
      </mat-expansion-panel>


    </mat-accordion>
  </div>
</div>
